.caja1 {
    margin: 2%;
    background-color: #b9f8f5;
    padding: 20px;
    border: 10px solid #10b2fd;
    width: 40%;
    text-align: justify;
    float: left;
}

.caja2 {
    clear: left;
    border: 3px dashed #f8cb88;
    background-color: #ff7323;
    border-radius: 10px 50px;
    text-align: justify;
    width: 40%;
    padding: 20px;
    box-shadow: 5px 9px 3px rgb(255, 146, 146);
}

.caja3 {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 2%;
    width: 40%;
    text-align: justify;
}

p.bola {
    clear: both;
    border: 10px solid black;
    border-image-source: url(../img/bola-100.png)
}

p.pastilla {
    clear: both;
    border: 20px solid;
    border-image-source: url(../img/pastilla.png);
    border-image-slice: 50;
    border-image-width: 20px;
}

