 body {
     background-color: white;
     font-family: 'Trirong';
     margin: 10px;
 }

 h1 {
     text-align: center;
     letter-spacing: 10px;
     font-size: 300%;
 }

 h2 {
     clear:both;
     background-color: pink;
     color: black;
 }

 p {
     text-indent: 2rem;
     margin-left: 10px;
     margin-right: 10px;
 }

 img {
     float: left;
     padding-right: 10px;
     padding-bottom: 10px;
 }

 .spannegro {
     color: #ff53ff;
 }

 .fondogris {
     background-color: pink;
     text-emphasis-style: 2;
 }