*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'header header header header header header'
                         'nav_izq main main main main aside'
                         'nav_izq footer footer footer footer footer';
    gap: 1rem;
}
.cabecera {
    grid-area: header;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1rem;
}
.barra_lateral_izq {
grid-area: nav_izq;
background-color: green;
color: white;
padding: 1rem;
}
.main {
    grid-area: main;
    background-color: #f1f1f1;
    padding: 1rem;
}
.barra_lateral_der{
    grid-area: aside
}